Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h.in
config/*
configure
tests/Makefile.in
.deps/
*.o
avec/.deps/*
avec/.dirstamp
avec/*.o
coexec/.deps/*
coexec/.dirstamp
coexec/*.o
config.h.in~
config.log
config.status
configure.ac~
configure~
igcd/.deps/
igcd/.dirstamp
igcd/*.o
iprime/.deps/*
iprime/.dirstamp
iprime/*.o
isqrt/.deps/
isqrt/.dirstamp
isqrt/*.o
librko.a
list/.deps/
list/.dirstamp
list/*.o
metropolis/.deps/
metropolis/.dirstamp
metropolis/*.o
netfns/.deps/
netfns/.dirstamp
netfns/*.o
numfns/.deps/
numfns/.dirstamp
numfns/*.o
strfns/.deps/
strfns/.dirstamp
strfns/*.o
tests/.deps/
tests/Makefile
tests/*.o
tests/*.x
tests/birdy
tests/doggy
tests/kitty
tests/tweety
urand/.deps/
urand/.dirstamp
urand/*.o
uvec/.deps/
uvec/.dirstamp
uvec/*.o
version.c
